@inherits LayoutComponentBase
    <main>
        <article class="content px-4">
            @Body
        </article>
        <footer style="text-align: center; padding: 10px; background-color: #2c2c2c; color: #ffffff;">
            © Copyright 2025 Le Onze Football
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#">Legal Policy</a>
        </footer>
    </main>
